name: Build and deploy Jekyll site

on:
  push:
    branches: ["master"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    # Use Ruby 3.2
    container:
      image: ruby:3.2-slim

    steps:
      - uses: actions/checkout@v4

      - name: Install system deps
        run: |
          apt-get update
          apt-get install -y build-essential

      # Install Bundler compatible with Ruby 3.2
      - name: Install Bundler
        run: gem install bundler

      - name: Install gems
        run: bundle install --path vendor/bundle

      - name: Build Jekyll
        run: bundle exec jekyll build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - uses: actions/deploy-pages@v4

